@import "mixins";

.topicDetail_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 1992;
  background-color: white;
  display: flex;
  align-items: stretch;

  .topicDetail_catelog {
    width: 300px;
    margin-left: -300px;
    background-color: rgb(247, 247, 247);
    transition: margin-left .3s;
    border-right: 1px solid rgb(236, 236, 236);
    box-sizing: border-box;

    &.active {
      margin-left: 0px;
    }
  }
  .topicDetail_content {
    flex: 1 0;
    display: flex;
    flex-direction: column;
  }

  .topicDetail_header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 60px;
    box-sizing: border-box;
    background-color: $MainBgColor;

    .topicDetail_title {
      color: #fff;
      margin: 0;
      align-self: center;
    }

    .catelogBtn {
      text-align: center;
      background-image: none;
      border: none;
      padding: 0 20px;
      user-select: none;
      background-color: transparent;
      color: #fff;
      outline: none;
      cursor: pointer;

      &:hover {
        color: $TypeColor;
      }

      &:active {
        background-color: rgba(255, 255, 255, .05);
      }
    }

    .back {
      display: flex;
      padding: 0 20px;
      align-items: center;
      color: #fff;

      &:hover {
        color: $TypeColor;
      }

      &:active {
        background-color: rgba(255, 255, 255, .05);
      }
    }
  }

  .topicDetail_article {
    flex: 1 0;
    overflow: auto;
    padding: 10px 20px;

    .topicDetail_container {
      width: 100%;
      max-width: 1000px;
      margin: auto;
    }
  }
}
